<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProCommunify</title>
    <link rel="stylesheet" href={% static "Accounts/css/master.css" %} /> 
</head>
<body>
    <div class="container">
        <div class=" section1">
            
            <h1>LOGIN</h1>
            <form class="formg" action="" method="POST">
                {% csrf_token %}
                {%for field in form %}
                    <p><label>{{field.label}}</label><p>
                    <p>{{field}}<p>
                {% endfor %}
                {% for error in form.non_field_errors %}
                <p>{{error}}</p>
                {% endfor %}
                <input type='submit' id='submit' value='Login'/>
            </form>
            <h3>Don't have an account?<a href={% url "Accounts:signup_url" %}>Sign Up</a></h3>
            <div class=" line"> </div>
        </div>
        <div class="section2">
            <img src={% static "Accounts/images/PicsArt.jpeg" %} alt="ProCommunify" >
        </div>
    </div>   

</body>
</html>

