<!DOCTYPE html>
{% load static %}
{% load bootstap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProCommunify</title>
    <link rel="stylesheet" href={% static "Accounts/css/master.css" %} /> 
</head>
<body>
    <div class="container">
        <div class=" section1">
            
            <h1>LOGIN</h1>
            <form class="formg" action="" method="POST">
            </form>
            <h3>Don't have an account?<a href={% url "Accounts:signUp" %}>Sign Up</a></h3>
            <div class=" line"> </div>
        </div>
        <div class="section2">
            <img src={% static "/images/PicsArt.jpeg" %} alt="ProCommunify" >
        </div>
    </div>   

</body>
</html>

