<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/project.css">
</head>
<body>
    <div class="container">
        <div class=" section1">
            
            <h1>SignUp</h1>
            <form class="formg" action="">
                <p><label>Username</label></p>
                <input type="text" placeholder="Your Name" required>
                <br>
                <p><label>Email</label></p>
                <input type="text" placeholder="Your email id" required>
                <br>
                <p><label>Password</label></p>
                <input type="text" placeholder="enter the password" required>
                <br>
                <p><label> Confirm Password</label></p>
                <input type="text" placeholder="enter the password" required>
                <br>
                <input type="button" class="button" value="SignUp">
                <br>
            </form>
            <h3>Have an Account!<a href="login.html">login here</a></h3>
            <div class=" line"> </div>
        </div>
        <div class="section2">
            <img src="../static/image/PicsArt.jpeg" alt="" >
        </div>
    </div>
</body>
</html>